.none-select{
	user-drag: none;  /* 兼容性不好，建议搭配其他属性使用 */
	user-select: none;   /* 禁止选中元素 */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.main-page{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
