.flex{
	display: flex;
}
.flex-row-center-center {
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: center !important;
}
.flex-column-center-center {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
}
.flex-row-center-between {
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: space-between !important;
}
.flex-row-center-around {
	display: flex !important;
	align-items: center !important;
	justify-content: space-around !important;
	flex-direction: row !important;
}
.flex-row-start-center{
	display: flex !important;
	flex-direction: row !important;
	align-items: flex-start !important;
	justify-content: center !important;
}
.flex-row-start-start{
	display: flex !important;
	flex-direction: row !important;
	align-items: flex-start !important;
	justify-content: flex-start !important;
}
.flex-row-center-start{
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: flex-start !important;
}
.flex-row-center-end{
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: flex-end !important;
}
.flex-column-center-start{
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: flex-start !important;
}
.flex-column-start-center {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: flex-start !important;
}
.flex-column-start-start {
	display: flex !important;
	flex-direction: column !important;
	align-items: flex-start !important;
	justify-content: flex-start !important;
}
.flex-column-between-center {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: space-between !important;
}
.flex-row-end-start{
	display: flex !important;
	flex-direction: row !important;
	align-items: flex-end !important;
	justify-content: flex-start !important;
}
.flex-row-end-center{
	display: flex !important;
	flex-direction: row !important;
	align-items: flex-end !important;
	justify-content: center !important;
}
.flex-center-around {
	display: flex;
	align-items: center !important;
	justify-content: space-around !important;
	flex-direction: row !important;
}
