@font-face {
    font-family: MeiHei;
    src: url('../font/Mei-hei.ttf');
}
@font-face {
    font-family: UniversalJack;
    src: url('../font/Universal-Jack.ttf');
}
@font-face {
    font-family: OutlinePixel;
    src: url('../font/Outline-Pixel-7-Solid.ttf');
}