.brand {
  color : var(--Brand)
}
.success {
  color : var(--Success)
}
.warning {
  color : var(--Warning)
}
.danger {
  color : var(--Danger)
}
.info {
  color : var(--Info)
}
.info-lighter {
    color : var(--Info-lighter)
}
.info-unset {
    color : var(--Info-lighter)
}
