*,:after,:before{margin:0;padding:0;box-sizing:border-box}
body{color:var(--Brand-unset);
    background-color: #060f14;
    /* 使用径向渐变和线性渐变模拟星空效果 */
    background-image: radial-gradient(at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(to bottom, #000000, #060f14);
}
button{background:none;border:none}
input{
    background: none;
    border: none;
}
::-webkit-scrollbar {width: 8px;height: 8px;background-color: #F5F5F5; padding: 5rem}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    background-image: url("@/assets/img/public/scroll_bar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: #FFFFFF solid 1px;
    background-color: #1b3862;
}