.icon {
  text-transform          : none;
  font-weight             : 400;
  font-style              : normal;
  font-variant            : normal;
  font-family             : iconfont, serif !important;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  speak                   : none;
  display                 : block;
  position                : relative;
}
.icon::before, .icon::after {
  position            : absolute;
  content             : '';
  display             : block;
  min-height          : .5rem;
  min-width           : .5rem;
  top                 : 50%;
  left                : 50%;
  transform           : translateX(-50%) translateY(-50%);
  /*height: 100%;*/
  /*width: 100%;*/
  background-size     : 100%;
  background-repeat   : no-repeat;
  background-position : center;
}
.icon-Telegram:before {
  background-image : url(../icon/fenxiang_Telegram.png);
}
.icon-Telegram-CN:before {
  background-image : url(../icon/fenxiang_Telegram_CN.png);
}
.icon-Discord:before {
  background-image : url(../icon/fenxiang_Discord.png);
}
.icon-Twitter:before {
  background-image : url(../icon/fenxiang_Twitter.png);
}
.icon-back:before {
  background-image : url(../icon/back.png);
}
.icon-close:before {
  background-image : url(../icon/close.png);
}
.icon-someone:before {
  background-image : url(../icon/someone.png);
}
.icon-treasure-box:before {
  background-image : url(../icon/treasure_box.png);
}
.icon-Share:before {
  background-image : url(../icon/Share.png);
}
.icon-pull-down:before {
  background-image : url(../icon/pull_down.png);
}
.icon-status-anger:before {
  background-image : url(../icon/status_anger.png);
}
.icon-status-success:before {
  background-image : url(../icon/status_success.png);
}
.icon-blood:before {
  background-image : url(../icon/blood.png);
}
.icon-growth:before {
  background-image : url(../icon/growth.png);
}
.icon-initiallife:before {
  background-image : url(../icon/initialLife.png);
}
.icon-initialmagic:before {
  background-image : url(../icon/initialMagic.png);
}
.icon-mana:before {
  background-image : url(../icon/mana.png);
}
.icon-speed:before {
  background-image : url(../icon/speed.png);
}
.icon-attack:before {
  background-image : url(../icon/attack.png);
}
.icon-soak_mark.png:before {
  background-image : url(../icon/soak_mark.png);
}
.icon-more-options:before {
  background-image : url(../icon/more_options.png);
}
.icon-diamond:before {
  background-image : url(../icon/currency/diamond.png);
}
.icon-fa:before {
  background-image : url(../icon/currency/fa.png);
}
.icon-fuc:before {
  background-image : url(../icon/currency/fuc.png);
}
.icon-ticket:before {
  background-image : url(../icon/currency/ticket.png);
}
.icon-usdt:before {
  background-image : url(../icon/currency/usdt.png);
}
.icon-play:before {
  background-image : url(../icon/icon_play.png);
}

